---
import { useConfig } from "@flyo/nitro-astro";
import DebugInfo from "@flyo/nitro-astro/DebugInfo.astro";

const config = await useConfig(Astro);
const { title } = Astro.props;
const currentPath = Astro.url.pathname;
const currentLocal = Astro.currentLocale;
---

<!doctype html>
<html lang="en">
  <head>
    <DebugInfo />
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <!-- Auto-inject meta information for pages and entities -->
    <slot name="head" />
  </head>
  <body>
    <div class="container mx-auto mb-3 pt-3">
      <div class="flex flex-row gap-2 justify-center">
        {
          config.containers.nav.items.map((item) => (
            <a
              href={item.href}
              class={`p-2 m-2 rounded-lg bg-gray-200 ${currentPath === item.href ? "text-red" : ""}`}
            >
              {item.label}
              <br />
            </a>
          ))
        }
      </div>
    </div>
    <div class="container mx-auto">
      <slot />
      <div class="text-xs mt-4">Current locale: {currentLocal}</div>
    </div>
  </body>
</html>
