---
import { Image } from "astro:assets";

const { block } = Astro.props;
---

{
  block.items.map((item: any) => (
    <div style="background-color:#F0F0F0; padding:20px; margin-bottom:10px;">
      <h2 class="text-xl">{item.title}</h2>
      {item.image && (
        <Image
          src={item.image.source}
          alt={item.title}
          width="200"
          height="200"
        />
      )}
      <a href={item.link.routes.detail} class="underline">
        Go to Detail
      </a>
    </div>
  ))
}
